:root {
  --color-primary: #0265dc;
  --color-primary-tint: #e9f6fe;
  --color-primary-shade: #0054b6;
  --color-text: #464646;
  --color-text-light: #6d6d6d;
  --color-text-dark: #222222;
  --color-background: #fdfdfd;
  --color-white: #ffffff;
  --color-gray-50: #ffffff;
  --color-gray-75: #fdfdfd;
  --color-gray-100: #f8f8f8;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative; 
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--color-primary-tint);
}

.profile {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  flex-basis: 25%;
  padding: 3rem 5rem;
  background-color: white;
}

.profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.change, .delete {
  background-color: var(--color-primary);
  color: white; 
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.change:hover{
    background-color: var(--color-primary-tint);
    color: var(--color-text-dark);
}
.delete {
  background-color: #F0F0F2; 
  color: red; 
  margin-left: 1rem;
}
.delete:hover{
    background-color: var(--color-primary-tint);
    color: var(--color-text-dark);
}
.aside{
  flex: 1;
  padding: 3rem;
  background-color: var(--color-background);
}
.form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

}

.form label {
  font-size: 1.8rem;
}

.form input {
  flex: 1;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  border: 0.1rem solid var(--color-primary-shade);
}
 .form input:focus{
  outline-color: var(--color-primary);
 }
.form input:focus::placeholder{
  color: transparent;
}
.save {
  background-color: var(--color-primary); 
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}
.save:hover{
    background-color: var(--color-primary-shade);
    color: #ffffff;
}
