@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --color-primary: #0265dc; */
  /* --color-primary-tint: #e9f6fe; */
  --color-primary-shade: #0054b6;
  --color-primary: #7326d3;
  --color-primary-tint: #f8f2fd;
  --color-primary-shade: #470c94;
  --color-text: #464646;
  --color-text-light: #6d6d6d;
  --color-text-dark: #222222;
  --color-background: #fdfdfd;
  --color-white: #ffffff;
  --color-gray-50: #ffffff;
  --color-gray-75: #fdfdfd;
  --color-gray-100: #f8f8f8;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  background-color: var(--color-gray-100);
}
